body {
    background-color:rgb(238, 204, 170);
  }

  @font-face {
    font-family: 'miFuente1';
    src: url('/fuentes/FascinateInline-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'miFuente2';
  src: url('/fuentes/PermanentMarker-Regular.ttf') format('truetype');  
}

@font-face {
  font-family: 'miFuente3';
  src:  url('/fuentes/OpenSans-Italic-VariableFont_wdth,wght.ttf') format('truetype'); 
}

  h1 {
    font-family:'miFuente1',FascinateInline-Regular;
    font-size: 3rem;
    letter-spacing: 1.5rem;
    text-align: center;
    text-transform: uppercase;
  }
  
  p.intro {
    margin-left: 30%;
    margin-right: 30%;
    font-family: sans-serif;
    line-height: 200%;
    text-align: justify;
  }
  
  p.latin {
    margin: 0;
    font-family: 'miFuente2';
    font-size: 2rem;
  }
  
  p.espanol {
    margin: 0 0 3rem;
    color: white;
    font-family: 'miFuente3';
    font-size: 2rem;
    letter-spacing: 1px;
    text-align: right;
  }
  
  cite {
    text-decoration: underline;
  }
  